.background-modal {
	background-color: rgb(0, 0, 0);
	height: 100%;
	left: 0px;
	opacity: 0.6;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 9998;
}

.modal-window {
	background: #FFFFFF;
	position: fixed;
	top: 100px; 
	left: 50%;
	z-index: 9999;
	border-radius: 6px;
	box-shadow:0 0 25px 5px rgba(0, 0, 0, 0.6);
}

.close-modal-window {
	cursor: pointer;
	color: #AAAAAA;
	font-size: 22px;
	font-weight: bold;
	line-height: 0.5;
	right: 11px;
	top: 8px;
	font-family: Arial,Helvetica,Helvetica Neue,Verdana,sans-serif;
	position: absolute;
}

.large-modal-window {
	padding: 30px;
	width: 600px;
	margin-left: -340px;
}

.wait-modal-window 
{	
	padding: 30px;
	width: 400px;
	height: 150px;
	margin-left: -240px;
	text-align: center;	
}

.hide-window {
	visibility: hidden;
	display: none;
}

.wait-modal-window IMG {
	margin-right: 15px;	
}

.wait-modal-window SPAN {
	display:block;
	position: fixed;
	margin-left: 100px;
	margin-top: 33px;
    font-weight: bold;
}


/* MEDIA START
================================================*/

/* Smartphones (portrait) START
================================================*/
@media only screen
and (max-width : 320px) {
	.large-modal-window, .wait-modal-window  {
		margin-left: 0;
	}
}
/* Smartphones (portrait) END
================================================*/
@media only screen
and (max-width : 600px) {
	.large-modal-window {
		padding: 10px;
		width: 250px;
		margin-left: -140px;
	}
	.large-request-quote TEXTAREA {
		width: 220px; 
	}
	.wait-modal-window {	
		padding: 10px;
		width: 300px;
		margin-left: -160px;
	}
	.wait-modal-window SPAN {
		margin-left: 80px;
        margin-top: 50px;
	}
}

/* MEDIA END
================================================*/